@tailwind base;

@tailwind components;

@tailwind utilities;

@import "public/assets/css/mixing.scss";

body {
    @apply bg-light w-full h-full font-proxima-rg text-black relative;
    font-size: 21px;
    line-height: 33px;

}

img {
    @apply w-full h-auto ;
}

.img-container {
    @apply relative overflow-hidden ;
    visibility: hidden;
    border-radius: 10px;
}

.img-container img {
    object-fit: cover;
}

a{
    @apply text-blue;
}

small{
    line-height: 22px;
}
.img-overlay {
    @apply bg-blue w-full h-full absolute top-0 left-0 ;
    z-index: 2;
}

.title-wrapper h2 {
    line-height: 85px;
}

.btn{
    @apply bg-blue text-white py-3 px-10 text-base transition-all duration-500 inline-block ;
    border-radius: 10px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1), 0 1px 2px rgba(28,35,139,.1), 0 2px 5px rgba(41,52,204,.2);
}

.btn:hover{
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1), 0 2px 6px rgba(0,0,0,.05), 0 7px 14px rgba(28,35,139,.15);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    background-color: #4753ff;
}
.main-navigation-wrapper {
    @apply fixed w-full top-0 left-0 z-50;
    -webkit-backdrop-filter: saturate(1) blur(0) !important;
    -moz-backdrop-filter: saturate(1) blur(0) !important;
    -o-backdrop-filter: saturate(1) blur(0) !important;
    -ms-backdrop-filter: saturate(1) blur(0) !important;
    backdrop-filter: saturate(1) blur(0) !important;
}

.fixed-header .main-navigation-wrapper {
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(1) blur(20px) !important;
    -o-backdrop-filter: saturate(1) blur(20px) !important;
    -ms-backdrop-filter: saturate(1) blur(20px) !important;
    backdrop-filter: saturate(1) blur(20px) !important;
    border-bottom: 1px solid #edeef1;
    -webkit-transition: 0.3s !important;
    -moz-transition: 0.3s !important;
    -o-transition: 0.3s !important;
    -ms-transition: 0.3s !important;
    transition: 0.3s !important;
}

.logo {
    width: 100px;
}

.menu-item {
    @apply py-2 px-4 mx-1 text-black transition-all duration-500 font-proxima-md relative text-base;
}

.menu-item a{
    @apply text-black;
}

.menu-item a:hover,
.menu-item.active a {
    @apply text-blue;
}

.menu-item:before {
    @apply absolute opacity-0 bg-blue w-0 h-0 rounded-full transition-all duration-500;
    content: "";
    left: calc(50% - 4px);
    top: -30px;
}

.menu-item.active :before,
.menu-item:hover:before {
    @apply w-2 h-2 top-0 opacity-100;
}


.card {
    @apply bg-white px-5 py-8 rounded-card shadow-card ;
}

.hi-content {
    top: calc(35% - 50px);
    left: calc(15% - 113px);
}

.hi-discription {
    top: calc(70% - 81px);
    left: calc(15% - 113px);
}

.landing-social-content:after {
    @apply bg-black absolute ;
    top: -100%;
    content: '';
    width: 2px;
    height: 100%;
    right: calc(50% - 1px);
    z-index: -1;
}

.landing-social-content:before {
    @apply bg-light absolute ;
    top: calc(-64% - 1px);
    content: '';
    width: 2px;
    height: 15%;
    right: calc(50% - 1px);
    z-index: 0;
}

.social-item i {
    @apply bg-white text-center rounded-full mb-3 text-black transition-all duration-500;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.social-item:hover i {
    @apply bg-blue text-white;
}


/*-----------------------------
  Menu Mobile
-----------------------------*/
.menu {
    @apply text-black p-0 m-0 outline-none relative border-none bg-none cursor-pointer;
    width: 36px;
    height: 36px;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
}

.menu:focus {
    @apply outline-none;
}

.menu.ripplemenu:active:before {
    background: #165df5;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    opacity: 0.25;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: -9px;
    animation: RippleMenu 0.3s cubic-bezier(0.29, -0.01, 0.17, 0.95);
}

.menu svg {
    width: 44px;
    height: 48px;
    top: -6px;
    left: -14px;
    stroke: #0b2238;
    stroke-width: 0.2rem;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;
}

.menu svg path {
    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
    stroke-dashoffset: var(--offset, 126px);
    transform: translateZ(0);
}

.menu svg path:nth-child(2) {
    --duration: 0.7s;
    --easing: ease-in;
    --offset: 100px;
    --array-2: 74px;
}

.menu svg path:nth-child(3) {
    --offset: 133px;
    --array-2: 107px;
}

.menu.active svg path {
    --offset: 57px;
}

.menu.active svg path:nth-child(1), .menu.active svg path:nth-child(3) {
    --delay: 0.15s;
    --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}

.menu.active svg path:nth-child(2) {
    --duration: 0.4s;
    --offset: 2px;
    --array-1: 1px;
}

.menu.active svg path:nth-child(3) {
    --offset: 58px;
}

.mobilenav-overlay {
    position: fixed;
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 40;
    display: block;
    transition: 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
    opacity: 1;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mobilenav-active {
    /*transition-delay: 550ms;*/
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
    height: 100%;
}

.mobilenav-content {
    background-color: transparent;
    position: absolute;
    z-index: 12;
    opacity: 1;
    pointer-events: auto;
    height: 100%;
}

.mobilenav-wrapper {
    padding-left: 4%;
    padding-right: 4%;
    top: 100px;
    height: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu {
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-menu-item{
    @apply mb-4 ;

}
.mobile-menu-item a{
    @apply text-black ;
    font-size: 22px;
}

h4{
    font-size: 32px;
    line-height: 46px;
}

.connect-withme p,
.connect-withme a{
    font-size: 12px;
    line-height: 22px;
}

.connect-withme .social-item i{
    margin-right: 8px;
}



element.style {
}
.toast.show {
    display: block;
    opacity: 1;
    pointer-events: all;
    bottom: 1.5rem;
    -webkit-transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    -moz-transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    -o-transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    -ms-transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
}
.toast.show {
    display: block;
    opacity: 1;
}
.toast {
    max-width: 350px;
    overflow: hidden;
    position: fixed;
    opacity: 0;
    bottom: -6rem;
    border: 0;
    border-radius: 8px;
    padding: 1.25rem 2rem;
    background-color: #ffffff;
    backdrop-filter: blur(0);
    z-index: 9;
    -webkit-transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    -moz-transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    -o-transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    -ms-transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    transition: 1.2s cubic-bezier(0.86, 0, 0.07, 1) !important;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(11, 34, 56, 0.06) !important;
    -moz-box-shadow: 0px 0px 40px 0px rgba(11, 34, 56, 0.06) !important;
    -o-box-shadow: 0px 0px 40px 0px rgba(11, 34, 56, 0.06) !important;
    -ms-box-shadow: 0px 0px 40px 0px rgba(11, 34, 56, 0.06) !important;
    box-shadow: 0px 0px 40px 0px rgba(11, 34, 56, 0.06) !important;
}

.toast.toast_demo .close {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 14px;
    font-size: 18px;
    top: 13px;
}

.toast.toast_demo h5 {
    font-size: 16px;
    font-weight: 500;
    color: #0b2238;
}

.toast.toast_demo p {
    margin-bottom: 0;
    font-size: 16px;
    color: #6c7a87;
}

.toast-body {
    font-size: 14px;
    line-height: 24px;
}

.close {
    position: absolute;
    right: 17px;
    top: 17px;
    color: #b5b5b5;
}


/*-----------------------------
  loading_overlay
-----------------------------*/
.loaded_page #particles-js {
    z-index: 12;
}
.loaded_page .loading_overlay {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.6s !important;
    -moz-transition: opacity 0.6s !important;
    -o-transition: opacity 0.6s !important;
    -ms-transition: opacity 0.6s !important;
    transition: opacity 0.6s !important;
}

.loading_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fef8f2;
    overflow: hidden;
    position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading_overlay .loader_logo {
    position: relative;
}
.loading_overlay .loader_logo .logo {
    width: 200px;
    height: 60px;
    -webkit-animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
    -moz-animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
    -o-animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
    -ms-animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
    animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
}


/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@-moz-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


/*-----------------------------
  Back to top with progress indicator
-----------------------------*/
.prgoress_indicator {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(22, 93, 245, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transform: translateY(15px) !important;
    -moz-transform: translateY(15px) !important;
    -o-transform: translateY(15px) !important;
    -ms-transform: translateY(15px) !important;
    transform: translateY(15px) !important;
    -webkit-transition: all 200ms linear !important;
    -moz-transition: all 200ms linear !important;
    -o-transition: all 200ms linear !important;
    -ms-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
}
.prgoress_indicator.active-progress {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
}
.prgoress_indicator::after {
    position: absolute;
    font-family:"Font Awesome 5 Pro";
    content: "\f106";
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: rgba(22, 93, 245, 0.2);
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear !important;
    -moz-transition: all 200ms linear !important;
    -o-transition: all 200ms linear !important;
    -ms-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
}
.prgoress_indicator::before {
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    content: "\f106";
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    opacity: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear !important;
    -moz-transition: all 200ms linear !important;
    -o-transition: all 200ms linear !important;
    -ms-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
}
.prgoress_indicator:hover::after {
    color: #165df5;
}
.prgoress_indicator:hover:before {
    opacity: 1;
}
.prgoress_indicator svg path {
    fill: none;
}
.prgoress_indicator svg.progress-circle path {
    stroke: #165df5;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear !important;
    -moz-transition: all 200ms linear !important;
    -o-transition: all 200ms linear !important;
    -ms-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
}