

@font-face {
    font-family:'Jackylin Black';
    src: url('Jackylin Black.eot');
    src: local('Jackylin-Black'), local(Jackylin Black),
    url('Jackylin Black.eot?#iefix') format('embedded-opentype'),
    url('Jackylin Black.woff2') format('woff2'),
    url('Jackylin Black.woff') format('woff'),
    url('Jackylin Black.ttf') format('truetype'),
    url('Jackylin Black.otf') format('opentype'),
    url('Jackylin Black.svg#Jackylin Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007D;
}




@font-face {
    font-family:'Jackylin Bold';
    src: url('Jackylin Bold.eot');
    src: local('Jackylin-Bold'), local(Jackylin Bold),
    url('Jackylin Bold.eot?#iefix') format('embedded-opentype'),
    url('Jackylin Bold.woff2') format('woff2'),
    url('Jackylin Bold.woff') format('woff'),
    url('Jackylin Bold.ttf') format('truetype'),
    url('Jackylin Bold.otf') format('opentype'),
    url('Jackylin Bold.svg#Jackylin Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007D;
}


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Th';
    src: url('ProximaNovaA-Thin.woff2') format('woff2'),
        url('ProximaNovaA-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-Extrabld.woff2') format('woff2'),
        url('ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-Black.woff2') format('woff2'),
        url('ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

